<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script>
<script src="assets/bundles/vendorscripts.bundle.js"></script>
<!-- Lib Scripts Plugin Js -->

<script src="assets2/plugins/particles-js/particles.min.js"></script>
<script src="assets2/plugins/particles-js/particles.js"></script>
</body>

</html>